.slick-slider {
  width: 100%;
}

.slick-list {
  height: 415px;
  padding: 0 !important;
}

.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 380px;
  margin: 15px;
  width: 18em !important;
  border-radius: 8px;
  cursor: pointer;
}

.slick-prev,
.slick-next {
  top: 32% !important;
  z-index: 2 !important;
}

.slick-prev {
  left: 2% !important;
}

.slick-next {
  right: 9% !important;
}

.slick-prev:before,
.slick-next:before {
  /* color: #171717; */
  opacity: 0.6;
  display: none !important;
}

@media screen and (min-width: 600px) {
  .slick-prev:before,
  .slick-next:before {
    font-size: 40px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: fit-content;
    padding: 0 0.5rem;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
  }
}
@media screen and (min-width: 768px) {
  .slick-prev:before,
  .slick-next:before {
    font-size: 50px !important;
  }
}
@media screen and (min-width: 1024px) {
  .slick-prev:before,
  .slick-next:before {
    font-size: 70px !important;
  }
}
