.slick-slider {
  width: 90%;
}

.slick-list {
  height: 50vh;
  padding: 0 !important;
}

.slick-slide {
  background: white;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  margin: 0 10px;
  width: 18em !important;
  border-radius: 8px;
  cursor: pointer;
}
